.jumbotron
  %h2
    GitLab
    %span= Gitlab::VERSION
    %small= Gitlab::REVISION
  %p.slead
    GitLab 是一个开源的代码协作平台.
    %br
    管理 Git 仓库, 并提供多种仓库的访问权限.
    %br
    方便易用的代码审核机制, 并加强了 "分支合并" 的管理.
    %br
    每个项目都有 "事务跟踪", "Wiki" 等强大的团队协作功能.
    %br
    GitLab 是最流行的解决方案, 有超过 100,000 的机构和组织用 GitLab 来管理内部部署的git仓库.
    %br
    想要了解更多 GitLab 信息, 请访问官方网站: #{link_to "www.gitlab.com", "https://www.gitlab.com/", target: "_blank"}.

.row
  .col-md-4
    .ui-box
      .title
        快速帮助
      %ul.well-list
        %li
          参考
          = link_to "我们的网站", "https://www.gitlab.com/getting-help/"
          获取在线手册
        %li
          使用本页面顶部的
          = link_to "搜索框", '#', onclick: "$('#search').focus();"
        %li
          使用
          = link_to "快捷键", '#', onclick: "new Shortcuts()"

  .col-md-4
    .ui-box
      .title
        用户文档
      %ul.well-list
        %li
          %strong= link_to "工作流程", help_workflow_path
          %p 了解如何使用 Git 和 GitLab.

        %li
          %strong= link_to "SSH 公钥", help_ssh_path
          %p 为您的项目设置安全的访问方式.

        %li
          %strong= link_to "GitLab Markdown", help_markdown_path
          %p 了解如何"GitLab Markdown".

        %li
          %strong= link_to "权限", help_permissions_path
          %p 了解GitLab的权限级别.

        %li
          %strong= link_to "API", help_api_file_path(category: 'README')
          %p 了解如何通过一个简单而强大的API来访问GitLab.

        %li
          %strong= link_to "Web Hooks", help_web_hooks_path
          %p 当代码推到您的项目时, GitLab 会通知事先设置好的Web Hooks.

  .col-md-4
    .ui-box
      .title
        管理文档
      %ul.well-list

        %li
          %strong= link_to "Rake Tasks", help_raketasks_path
          %p 探索怎么利用 GitLab 简化版本库管理.

        %li
          %strong= link_to "System Hooks", help_system_hooks_path
          %p 让 GitLab 通知您的其它系统, 执行一些自动化的任务, 比如持续集成等.

        %li
          %strong= link_to "Public Access", help_public_access_path
          %p 了解公共项目的访问.

        %li
          %strong= link_to "Security", help_security_path
          %p 了解怎么让 GitLab 更安全.
