.login-box
  %h3.page-title 重新发送
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    .devise-errors
      = devise_error_messages!
    .clearfix.append-bottom-20
      = f.email_field :email, placeholder: 'Email', class: "form-control", required: true
    .clearfix.append-bottom-10
      = f.submit "提交", class: 'btn btn-success'
  %hr
  %p
    %span.light
      已经有账号和密码?
    %strong
      = link_to "登录", new_session_path(resource_name)
