.file-holder
  .file-title
    %i.icon-file
    %strong= @snippet.file_name
    %span.options
      .btn-group.tree-btn-group.pull-right
        - if @snippet.author == current_user
          = link_to "编辑", edit_snippet_path(@snippet), class: "btn btn-tiny", title: '编辑代码片段'
          = link_to "删除", snippet_path(@snippet), method: :delete, data: { confirm: "您确定要删除吗?" }, class: "btn btn-tiny", title: '删除代码片段'
        = link_to "Raw", raw_snippet_path(@snippet), class: "btn btn-tiny", target: "_blank"
  = render 'snippets/blob_content'
