%h3.page-title
  = @snippet.new_record? ? "新建代码片段" : "编辑代码片段 ##{@snippet.id}"
%hr
.snippet-form-holder
  = form_for @snippet, as: :personal_snippet, url: url, html: { class: "form-horizontal snippet-form" } do |f|
    -if @snippet.errors.any?
      .alert.alert-danger
        %ul
          - @snippet.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label "标题", class: 'control-label'
      .col-sm-10= f.text_field :title, placeholder: "一段有趣的代码", class: 'form-control', required: true
    .form-group
      = f.label "权限", class: 'control-label'
      .col-sm-10
        = f.label :private_true, class: 'radio-label' do
          = f.radio_button :private, true
          %span
            %strong 私有的
            (只有自己才能查看)
        %br
        = f.label :private_false, class: 'radio-label' do
          = f.radio_button :private, false
          %span
            %strong 公共的
            (所有人都能看)

    .form-group
      .file-editor
        = f.label :file_name, "文件名", class: 'control-label'
        .col-sm-10
          .file-holder.snippet
            .file-title
              = f.text_field :file_name, placeholder: "example.rb", class: 'form-control snippet-file-name', required: true
            .file-content.code
              %pre#editor= @snippet.content
              = f.hidden_field :content, class: 'snippet-file-content'

    .form-actions
      - if @snippet.new_record?
        = f.submit '创建代码片段', class: "btn-create btn"
      - else
        = f.submit '保存', class: "btn-save btn"

      - unless @snippet.new_record?
        .pull-right.prepend-left-20
          = link_to '删除', snippet_path(@snippet), data: { confirm: '删除后无法恢复, 您确定删除吗?'}, method: :delete, class: "btn btn-remove delete-snippet", id: "destroy_snippet_#{@snippet.id}"
      = link_to "取消", snippets_path(@project), class: "btn btn-cancel"


:javascript
  var editor = ace.edit("editor");
  $(".snippet-form-holder form").submit(function(){
    $(".snippet-file-content").val(editor.getValue());
  });

