%ul
  = nav_link(controller: :dashboard, html_options: {class: 'home'}) do
    = link_to admin_root_path, title: "统计" do
      %i.icon-home
  = nav_link(controller: :projects) do
    = link_to "项目", admin_projects_path
  = nav_link(controller: :groups) do
    = link_to "组", admin_groups_path
  = nav_link(controller: :users) do
    = link_to "用户", admin_users_path
  = nav_link(controller: :logs) do
    = link_to "日志", admin_logs_path
  = nav_link(controller: :broadcast_messages) do
    = link_to "消息", admin_broadcast_messages_path
  = nav_link(controller: :hooks) do
    = link_to "钩子", admin_hooks_path
  = nav_link(controller: :background_jobs) do
    = link_to "后台作业", admin_background_jobs_path

