%h3.page-title
  账户设置
%p.light
  您可以在这里更改账户名称以及私人令牌
  - if current_user.ldap_user?
    有些选项是对LDAP帐户不可用
%hr


.account-page
  %fieldset.update-token
    %legend
      私人令牌
    %div
      = form_for @user, url: reset_private_token_profile_path, method: :put do |f|
        .data
          %p
            您的私人令牌可被用于应用程序访问GitLab资源,而无需验证.
            %br
            它可用于 atom 和 API.
            %span.cred
              必需保密!

          %p.cgray
            - if current_user.private_token
              = text_field_tag "token", current_user.private_token, class: "form-control"
              %div
                = f.submit '重置', data: { confirm: "您确定要重置吗?" }, class: "btn btn-primary btn-build-token"
            - else
              %span 您还没有 token ? 点击一下
              = f.submit '生成', class: "btn success btn-build-token"


  - if show_profile_social_tab?
    %fieldset
      %legend Social Accounts
      .oauth_select_holder.append-bottom-10
        %p Click on icon to activate signin with one of the following services
        - enabled_social_providers.each do |provider|
          %span{class: oauth_active_class(provider) }
            = link_to authbutton(provider, 32), omniauth_authorize_path(User, provider)

  - if show_profile_username_tab?
    %fieldset.update-username
      %legend
        账户名称
      = form_for @user, url: update_username_profile_path,  method: :put, remote: true do |f|
        %p
          改变您的账户名称, 会导致所有的个人项目的路径也会改变路径!
        %div
          = f.text_field :username, required: true, class: 'form-control'
          &nbsp;
        .loading-gif.hide
          %p
            %i.icon-spinner.icon-spin
            保存
        %p.light
          = user_url(@user)
        %div
          = f.submit '保存', class: "btn btn-save"

  - if show_profile_remove_tab?
    %fieldset.remove-account
      %legend
        删除账户
      %div
        %p 删除一个帐户具有以下效果:
        %ul
          %li 与此账户相关的 "事务", "评论", "代码片段", "项目" 都将被删除
          - rp = current_user.personal_projects.count
          - unless rp.zero?
            %li #{pluralize rp, 'personal project'} 此操作不可恢复
          - if current_user.solo_owned_groups.present?
            %li
              下面的 "组" 将被删除, 您应该转移或者删除:
              %strong #{current_user.solo_owned_groups.map(&:name).join(', ')}
        = link_to '删除账户', user_registration_path, data: { confirm: "删除账户: #{current_user.name}? 您确定吗?" }, method: :delete, class: "btn btn-remove"
