%h3.page-title
  通知设置
%p.light
  GitLab 将发送通知邮件到您的 "主邮箱"
%hr
= form_tag profile_notifications_path, method: :put, remote: true, class: 'update-notifications form-horizontal global-notifications-form' do
  = hidden_field_tag :notification_type, 'global'

  = label_tag :notification_level, '通知级别', class: 'control-label'
  .col-sm-10
    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_DISABLED, @notification.disabled?, class: 'trigger-submit'
        .level-title
          禁用通知
        %p 你不会得到任何邮件通知

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_PARTICIPATING, @notification.participating?, class: 'trigger-submit'
        .level-title
          参与
        %p 相关的资源通知 (例如:您的提交或分配事务等)

    .radio
      = label_tag nil, class: '' do
        = radio_button_tag :notification_level, Notification::N_WATCH, @notification.watch?, class: 'trigger-submit'
        .level-title
          关注
        %p 所有您参与的项目的通知

.clearfix
  %hr
  %p
    您也可以为每个组或每个项目指定通知级别
    %br
    默认情况下, 所有的项目和组使用上面的通知级别设置
.row.all-notifications
  .col-md-6
    %h4 组:
    %ul.bordered-list
      - @users_groups.each do |users_group|
        - notification = Notification.new(users_group)
        = render 'settings', type: 'group', membership: users_group, notification: notification

  .col-md-6
    %h4 项目:
    %ul.bordered-list
      - @users_projects.each do |users_project|
        - notification = Notification.new(users_project)
        = render 'settings', type: 'project', membership: users_project, notification: notification
