%h3.page-title
  项目 (#{@projects.total_count})
.light
  您可以在只读模式下浏览公共项目.
%hr
.clearfix
  .pull-left
    = form_tag public_projects_path, method: :get, class: 'form-inline form-tiny' do |f|
      .form-group
        = search_field_tag :search, params[:search], placeholder: "过滤名称", class: "form-control search-text-input input-mn-300", id: "projects_search"
      .form-group
        = submit_tag '搜索', class: "btn btn-primary wide"

  .pull-right
    .dropdown.inline
      %a.dropdown-toggle.btn{href: '#', "data-toggle" => "dropdown"}
        %span.light 排序:
        - if @sort.present?
          = @sort.humanize
        - else
          名称
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to public_projects_path(sort: nil) do
            名称
          = link_to public_projects_path(sort: 'newest') do
            最新
          = link_to public_projects_path(sort: 'oldest') do
            最旧
          = link_to public_projects_path(sort: 'recently_updated') do
            最近更新
          = link_to public_projects_path(sort: 'last_updated') do
            最旧更新

%hr
.public-projects
  %ul.bordered-list.top-list
    - @projects.each do |project|
      %li
        %h4
          = link_to project_path(project) do
            = project.name_with_namespace
          - if project.internal?
            %small.access-icon
              = internal_icon
              内部
          .pull-right
            %pre.public-clone git clone #{project.http_url_to_repo}

        - if project.description.present?
          %p
            = project.description

        .repo-info
          - unless project.empty_repo?
            = link_to pluralize(project.repository.round_commit_count, 'commit'), project_commits_path(project, project.default_branch)
            &middot;
            = link_to pluralize(project.repository.branch_names.count, 'branch'), project_branches_path(project)
            &middot;
            = link_to pluralize(project.repository.tag_names.count, 'tag'), project_tags_path(project)
          - else
            %i.icon-warning-sign
            空的仓库
    - unless @projects.present?
      .nothing-here-block 没有公共的项目

  = paginate @projects, theme: "gitlab"
