%h3.page-title
  广播消息
%p.light
  向每个用户发送消息, 可以用来通知 "定期维护", "系统升级" 等广播.
.broadcast-message-preview
  %i.icon-bullhorn
  %span 发布新的广播消息

= form_for [:admin, @broadcast_message], html: { class: 'broadcast-message-form form-horizontal'} do |f|
  -if @broadcast_message.errors.any?
    .alert.alert-danger
      - @broadcast_message.errors.full_messages.each do |msg|
        %p= msg
  .form-group
    = f.label :message, "消息", class: 'control-label'
    .col-sm-10
      = f.text_area :message, class: "form-control", rows: 2, required: true
      %div
        = link_to '#', class: 'js-toggle-colors-link' do
          自定义颜色
  .form-group.js-toggle-colors-container.hide
    = f.label :color, "背景色", class: 'control-label'
    .col-sm-10
      = f.text_field :color, placeholder: "#AA33EE", class: "form-control"
      .light 以 ＃开头的十六进制, 例如 "#AA33EE".
  .form-group.js-toggle-colors-container.hide
    = f.label :font, "字体颜色", class: 'control-label'
    .col-sm-10
      = f.text_field :font, placeholder: "#224466", class: "form-control"
      .light 以 ＃开头的十六进制, 例如 "#224466".
  .form-group
    = f.label :starts_at, "开始时间", class: 'control-label'
    .col-sm-10.datetime-controls
      = f.datetime_select :starts_at
  .form-group
    = f.label :ends_at, "结束时间", class: 'control-label'
    .col-sm-10.datetime-controls
      = f.datetime_select :ends_at
  .form-actions
    = f.submit "发布", class: "btn btn-create"

-if @broadcast_messages.any?
  %ul.bordered-list.broadcast-messages
    - @broadcast_messages.each do |broadcast_message|
      %li
        .pull-right
          - if broadcast_message.starts_at
            %strong
              #{broadcast_message.starts_at.to_s(:short)}
            \...
          - if broadcast_message.ends_at
            %strong
              #{broadcast_message.ends_at.to_s(:short)}
          &nbsp;
          = link_to [:admin, broadcast_message], method: :delete, remote: true, class: 'remove-row btn btn-tiny' do
            %i.icon-remove.cred

        .message= broadcast_message.message


  = paginate @broadcast_messages
