%h3.page-title 后台作业
%p.light GitLab 使用 #{link_to "sidekiq", "http://sidekiq.org/"} 库, 用于处理异步任务

%hr

.ui-box
  .title Sidekiq 正在运行的进程
  .body
    - if @sidekiq_processes.empty?
      %h4.cred
        %i.icon-warning-sign
        没有运行中的 sidekiq 进程, 请重新启动 GitLab
    - else
      %table.table
        %thead
          %th USER
          %th PID
          %th CPU
          %th MEM
          %th STATE
          %th START
          %th COMMAND
        %tbody
          - @sidekiq_processes.each do |process|
            - next unless process.match(/(sidekiq \d+\.\d+\.\d+.+$)/)
            - data = process.strip.split(' ')
            %tr
              %td= Settings.gitlab.user
              - 5.times do
                %td= data.shift
              %td= data.join(' ')

      .clearfix
        %p
          %i.icon-exclamation-sign
          如果显示 '[25 of 25 busy]', 请重启 GitLab , 命令: 'sudo service gitlab reload'.
        %p
          %i.icon-exclamation-sign
          如果列表中有不止一个 sidekiq 进程, 请停止 GitLab, 并关闭所有 sidekiq 进程, 然后再重新启用 GitLab.
          (sudo pkill -u #{Settings.gitlab.user} -f sidekiq)



.ui-box
  %iframe{src: sidekiq_path, width: '100%', height: 900, style: "border: none"}
