%h3.page-title
  组 (#{@groups.total_count})
  = link_to '新建组', new_admin_group_path, class: "btn btn-new pull-right"

%p.light
  使用 "组" 功能, 方便管理团队类型的多人项目.
  也可以帮您把项目组织得更清晰.

%hr
= form_tag admin_groups_path, method: :get, class: 'form-inline' do
  .form-group
    = text_field_tag :name, params[:name], class: "form-control input-mn-300"
  = submit_tag "搜索", class: "btn submit btn-primary"

%hr

%ul.bordered-list
  - @groups.each do |group|
    %li
      .clearfix
        .pull-right.prepend-top-10
          = link_to '编辑', edit_admin_group_path(group), id: "edit_#{dom_id(group)}", class: "btn btn-small"
          = link_to '删除', [:admin, group], data: {confirm: "您确定删除 #{group.name} 组吗?"}, method: :delete, class: "btn btn-small btn-remove"

        %h4
          = link_to [:admin, group] do
            %i.icon-folder-close
            = group.name

          &rarr;
          %span.monospace
            %strong #{group.path}/
      .clearfix
        %p
          = truncate group.description, length: 150
      .clearfix
        %p.light
          #{pluralize(group.members.size, '成员数')}, #{pluralize(group.projects.count, '项目数')}


= paginate @groups, theme: "gitlab"
