%h3.page-title 新建组
%hr
= form_for [:admin, @group], html: { class: 'group-form form-horizontal' } do |f|
  - if @group.errors.any?
    .alert.alert-danger
      %span= @group.errors.full_messages.first
  .form-group
    = f.label :name, class: 'control-label' do
      组名
    .col-sm-10
      = f.text_field :name, placeholder: "Ex. OpenSource", class: "form-control"

  .form-group.group-description-holder
    = f.label :description, "详细资料", class: 'control-label'
    .col-sm-10
      = f.text_area :description, maxlength: 250, class: "form-control js-gfm-input", rows: 4

  .form-group
    .col-sm-2
    .col-sm-10
      %ul
        %li 组, 简单的说: 就像是文件夹, 然后可以把相关的项目都放到这个文件夹里.
        %li 所有的组, 都是私有的.
        %li 组内的成员, 只能看到他们有权限的项目.
        %li 组内的项目, 都保存在同个文件夹中.
        %li 您可以把现有的项目, 转移到组里.
        %li 如果您有很多相关的项目, 或者是多人开发相同项目, 建议您采用组的方式来管理.

  .form-actions
    = f.submit '创建组', class: "btn btn-create"


