%h3.page-title
  组: #{@group.name}

  = link_to edit_admin_group_path(@group), class: "btn btn-small pull-right" do
    %i.icon-edit
    编辑
%hr
.row
  .col-md-6
    .ui-box
      .title
        组信息:
      %ul.well-list
        %li
          %span.light 名称:
          %strong= @group.name
        %li
          %span.light 路径:
          %strong
            = @group.path

        %li
          %span.light 详细资料:
          %strong
            = @group.description

        %li
          %span.light 创建于:
          %strong
            = @group.created_at.stamp("2014-05-05 13:01:01")

    .ui-box
      .title
        项目
        %small
          (#{@group.projects.count})
      %ul.well-list
        - @group.projects.sort_by(&:name).each do |project|
          %li
            %strong
              = link_to project.name_with_namespace, [:admin, project]
              %span.label.label-gray
                = repository_size(project)
            %span.pull-right.light
              %span.monospace= project.path_with_namespace + ".git"

  .col-md-6
    .ui-box
      .title
        添加一个或多个用户到这个组:
      .body.form-holder
        %p.light
          了解更多关于
          %strong= link_to "项目的权限", help_permissions_path, class: "vlink"

        = form_tag project_teams_update_admin_group_path(@group), id: "new_team_member", class: "bulk_import", method: :put  do
          %div
            = users_select_tag(:user_ids, multiple: true)
          %div.prepend-top-10
            = select_tag :group_access, options_for_select(UsersGroup.group_access_roles), class: "project-access-select select2"
          %hr
          = submit_tag '将用户添加到组', class: "btn btn-create"
    .ui-box
      .title
        %strong #{@group.name}
        组成员
        %small
          (#{@group.users_groups.count})
      %ul.well-list.group-users-list
        - @group.users_groups.order('group_access DESC').each do |member|
          - user = member.user
          %li{class: dom_class(user)}
            .list-item-name
              %strong
                = link_to user.name, admin_user_path(user)
            %span.pull-right.light
              = member.human_access
              = link_to group_users_group_path(@group, member), data: { confirm: remove_user_from_group_message(@group, user) }, method: :delete, remote: true, class: "btn-tiny btn btn-remove", title: 'Remove user from group' do
                %i.icon-minus.icon-white
