!!! 5
%html{ lang: "zh"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        %center
          %h1 GitLab
          %p.light
            GitLab 是一个开源的代码协作平台.
            %br
            #{link_to "登录", new_user_session_path} 或者浏览一下 #{link_to "公共项目", public_projects_path}.
    %hr
    .container
      .content
        = yield
