!!! 5
%html{ lang: "zh"}
  = render "layouts/head", title: "我的资料"
  %body{class: "#{app_theme} profile", :'data-page' => body_data_page}
    = render "layouts/broadcast"
    = render "layouts/head_panel", title: "我的资料"
    = render "layouts/flash"
    %nav.main-nav.navbar-collapse.collapse
      .container= render 'layouts/nav/profile'

    .container
      .content= yield
